<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
        <h2>About Us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Illum obcaecati numquam error placeat ab saepe repellendus,
             eum necessitatibus ipsam laboriosam cum, sequi culpa? 
             Ad accusantium dolorum ducimus harum neque hic 
             asperiores est repellat natus 
            voluptatem consequuntur totam mole
            stias deleniti blanditiis aliquid animi, tempora expedita 
            sed nobis possimus exercitationem voluptatibus! Aliquam consequatur alias omnis, eos ad earum eius voluptas officiis quia repellat veniam est molestias nisi cum excepturi perspiciatis explicabo voluptatum asperiores, atque et corporis doloremque! Dicta, libero. Ut consequuntur provident minima dignissimos, maxime repellendus recusandae voluptatibus eveniet iusto quasi quos aliquam magnam ratione explicabo veniam expedita rerum assumenda accusamus aperiam!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur distinctio consequatur assumenda, culpa sequi ipsa quos eos aperiam minima quod! At unde optio magnam nulla. Natus, veniam at rem omnis error nulla sed nesciunt perspiciatis, nihil quibusdam, quis praesentium nam itaque tempore veritatis est laudantium odio voluptate. Corrupti, mollitia consectetur alias voluptatem culpa, reprehenderit atque quis eveniet nostrum quasi maiores doloribus tempora voluptas aspernatur rerum? Optio hic aut quidem repellendus molestias? Magnam quo rerum aperiam adipisci perferendis consequuntur odit, quia autem modi consequatur, expedita nostrum molestias amet provident voluptates ab quibusdam delectus, incidunt quam tempora ipsum non fuga nulla. Culpa.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae ab pariatur cumque facere aut sint delectus sequi a nihil at, veritatis velit quia praesentium eveniet obcaecati dolore ducimus tenetur quasi sunt non hic, minus ad et. Rem totam dolorem repellat, vel corporis voluptate. Consequatur minima nostrum debitis dolor deserunt quis architecto enim sequi sed harum iusto nulla officiis numquam accusamus quasi dicta omnis velit deleniti, corporis suscipit adipisci consectetur! Perferendis laboriosam quo impedit neque sint ratione! Accusantium fugiat voluptatibus architecto. Voluptas rem est dolore nobis voluptate sed sequi et totam, consequatur cumque, recusandae, illo accusamus provident fuga dolorem harum error?</p>
    </div>
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>